<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {% if errors %}
    <p>{{errors}}</p>
    {% endif %}
    <p>
      {{ form.name.label }}
      {{ form.name(size=200) }}
    </p>
    <p>
      {{ form.start_date.label }}
      {{ form.start_date() }}
    </p>
    <p>
      {{ form.start_time.label }}
      {{ form.start_time() }}
    </p>
    <p>
      {{ form.end_date.label }}
      {{ form.end_date() }}
    </p>
    <p>
      {{ form.end_time.label }}
      {{ form.end_time() }}
    </p>
    <p>
      {{ form.description.label }}
      {{ form.description() }}
    </p>
    <p>
      {{ form.private.label }}
      {{ form.private(placeholder="Enter name", size=200) }}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{rows[row].name}}</td>
        <td>{{rows[row].start_datetime.strftime("%H:%M")}}</td>
        <td>{{rows[row].end_datetime.strftime("%H:%M")}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
