<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{rows[row].name}}</td>
        <td>{{rows[row].start_datetime.strftime("%H:%M")}}</td>
        <td>{{rows[row].end_datetime.strftime("%H:%M")}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
